@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/Lato-Regular.ttf') format('truetype'); 
  font-style: normal;           
}

@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/Lato-Bold.ttf') format('truetype');  
  font-style: normal;
  font-weight: bold;          
}

@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/Lato-Italic.ttf') format('truetype');   
  font-style: italic;         
}

@font-face {
  font-family: 'Ondo';
  src: url('/assets/fonts/Ondo-Regular.ttf') format('truetype'); 
  font-style: normal;           
}

@font-face {
  font-family: 'Ondo';
  src: url('/assets/fonts/Ondo-Bold.ttf') format('truetype');            
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Ondo';
  src: url('/assets/fonts/Ondo-Italic.ttf') format('truetype');            
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lato-regular {
  font-family: 'Lato', Arial, sans-serif;
}

.lato-bold {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: bold;
}

.lato-italic {
  font-family: 'Lato', Arial, sans-serif;
  font-style: italic;
}

.ondo-regular {
  font-family: 'Ondo', Arial, sans-serif;
}

.ondo-bold {
  font-family: 'Ondo', Arial, sans-serif;
  font-weight: bold;
}

.ondo-italic {
  font-family: 'Ondo', Arial, sans-serif;
  font-style: italic;
}

body {
  background-color: 2F1F6F;  
}

/* .container {
  padding-left: 2em;
  padding-right: 2em;
} */

section {
  display: flex;
  flex-direction: column;
}

.section1 {
  padding-bottom: 3.375em;
}

.section1-gradient {
  background-image: radial-gradient(at -51px -76px, #6804A1 0%, #63049B 4%, #3E0275 33%, #2F1F6F 59%);
  padding-left: 2em;
  padding-right: 2em;
  /* height: 100vh;   */
}

.nav-div {  
  display: flex;
  align-items: center;
  padding-top: 2.56em;
  gap: 0.5em; 
  margin-bottom: 2.875em;  
}  

.logo-img {
  width: 40px;
}

.logo-text {
  color: #fff;
  font-family: 'Ondo', Arial, sans-serif;
  font-weight: bold;
  box-shadow: 1px 1px 3px #333;
  /* margin-left: 6px; */
  font-size: 1.625rem;  
  letter-spacing: 1px;
}

.navicon {
  /* width: 112px;
  height: 47px; */
/*   border-bottom: 1px solid black; */
  /* position: absolute; */
  margin-left: auto;   
  /* align-self: center;     */  
}

.navicon span {
  display: block;  
}

.navicon span:not(:last-child) {
  margin-bottom: 4px;
}

.navicon span:nth-child(1) {
  width: 22px;
  height: 2px;
    
  background-color: white;
}

.navicon span:nth-child(2) {
  width: 17px;
  height: 2px;
  
  position: relative;
  right: -5px;
  background-color: white;
}

.navicon span:nth-child(3) {
  width: 22px;
  height: 2px;
  
  background-color: white;
}

.header-hero-main-text {
  text-transform: uppercase;
  color: #fff;
  font-size: 2.5rem;
  font-family: 'Ondo', Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
}

.header-hero-secondary-text {
  line-height: 2;
  font-family: Lato;
  color: #fff;
  letter-spacing: 1px;
  margin-top: 17px;
  margin-bottom: -70px;
}

.vr-gamer-img {
  mix-blend-mode: color-dodge; 
  position: relative;
  left: -499px;  
  margin-bottom: -50px;
}

.ticker {
  overflow-x: hidden ;
  text-transform: uppercase;
  color: #fff;
  height: 50px;
  width: 1000px;
  font-family: 'Ondo', Arial, sans-serif;
  font-weight: bold;
  position: relative;
  /* top: -110px; */
  left: -250px;
  display: flex;
  align-items: center;
  gap: 27.5px;
  /* filter: blur(8px);
  -webkit-filter: blur(8px);   */
  backdrop-filter: blur(5px);
  transform: skew(2deg,-2deg);
  box-shadow: 0px 0px 1px 0px #fff;  
  z-index: 20;
  position: relative;
}

.ticker-option {
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  gap: 9px;
  width: 205px; 
}

.btn {
  color: #fff;
  /* background: #0079c1;   */
  text-align: center;
  text-decoration: none;
  border: 0;
  outline: 0;
  /* font-size: 1.1rem; */
  padding: 1em 2em;
  display: inline-block;
  transform: skew(-15deg);
  cursor: pointer;
  /* Un-skew the text */
}

.btn > span {
  display: inline-block;
  transform: skew(15deg);
  text-transform: uppercase;
  font-size: 0.75rem;
  /* font-family: 'Ondo', Arial, sans-serif;
  font-weight: bold; */
}

.header-btns {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  margin-top: 2em;
  z-index: 10;
  position: relative;
}

.stats-container {
  width: 100%;
  gap: 1em;
  display: flex;
  justify-content: space-between;
  margin-top: 2.5em;
  color: #fff;
  z-index: 10;
  position: relative;
}

.stats {
  text-align: center; 
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.stats-main {
  font-family: 'Ondo', Arial, sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.stats-secondary {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 0.81rem;
  letter-spacing: 1px;
}

.buy-now-btn {
  background-image: linear-gradient(to top right, #6542F4 32%, #F976FF 52%, #B50098 86%);
  border: none;
}

.play-now-btn { 
  border: solid 1px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), 
    linear-gradient(to top right, #6542F4 32%, #F976FF 52%, #B50098 86%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 1px 1000px 1px #2F1F6F inset;
}
/* 
button.button:hover {
  box-shadow: none;
  color: white;
} */

.gradient-text {
  background: linear-gradient(to right, #6542F4 32%, #F976FF 52%, #B50098 86%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.section-2 {
  position: relative;
  top: -275px;
  z-index: 1;
}

.section2-gradient {
  background-image: radial-gradient(at -98px 1027px, #63049B 0%, #3E0275 53%, #2F1F6F 89%);
  padding-left: 1.2em;
  padding-right: 1.2em;
  height: 800px;
  /* height: 100vh;   */
}

.section2-header {
  margin: 0;
  padding: 0;
  font-size: 2.125rem;
  color: #fff;
  font-family: 'Ondo', Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 275px;
  letter-spacing: 2px;  
}

.section2-text {
  margin-top: 1em;
  font-size: 0.8rem;
  /* text-align: center; */
  font-family: 'Lato', Arial, sans-serif;
  color: #fff;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
  line-height: 2;
}


/* desktop */

.section1 {
  /* padding-left: 6.25em;
  padding-right: 6.25em; */
  height: 100vh;
}

.nav-div {    
  display: flex;
  align-items: center;
  padding-top: 2.56em;
  justify-content: space-between;
  margin-bottom: 2.875em;  
} 

.logo-div {
  display: flex;
  gap: 0.5em;
}

nav ul {
  display: flex;
  gap: 2.5rem;
}

nav li {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  list-style-type: none;
  font-size: 1.125rem;
  font-family: 'Lato', Arial, sans-serif;
}

.cart-icon {
  width: 1.215em;
}

header {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.section1 {
  /* background-image: radial-gradient(at -51px -76px, #6804A1 0%, #63049B 4%, #3E0275 33%, #2F1F6F 59%); */
  background-image: radial-gradient(at -51px -76px, #6804A1 0%, #63049B 4%, #3E0275 33%, #2F1F6F 59%);  
  mix-blend-mode: color-dodge;
}

.container {
  background-image: url('assets/images/vr-gamer-desktop.png');
  /* mix-blend-mode: color-dodge; */
  background-size: cover;
}

.header-hero-secondary-text {
  line-height: 2;
  font-family: Lato;
  color: #fff;
  letter-spacing: 1px;
  margin-top: 17px;
  margin-bottom: 0;
}

.header-btns {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  margin-top: 2em;
  z-index: 10;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.gamer-img {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* height: 100vh; */
  background-image: url('assets/images/vr-gamer-desktop.png');  
  background-repeat: no-repeat;  
  background-size: cover;
  /* justify-content: stretch; */
  /* margin-top: -50px; */
  /* margin-right: -300px;  */
  mix-blend-mode: color-dodge; 
  width: 100vw;
  height: 100vh;
  position: relative;
  top: -50px;
  right: -200px;
}

.radial-gradient {  
  background-image: radial-gradient(at -51px -76px, #6804A1 0%, #63049B 4%, #3E0275 33%, #2F1F6F 59%);   
  mix-blend-mode: color-dodge;
}

