@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/Lato-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/Lato-Italic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Ondo';
  src: url('/assets/fonts/Ondo-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Ondo';
  src: url('/assets/fonts/Ondo-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Ondo';
  src: url('/assets/fonts/Ondo-Italic.ttf') format('truetype');
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.radial-gradient1 {
  position: relative;
  background-image: radial-gradient(circle at 0px 0px,
      #6804a1 0%,
      #63049b 4%,
      #3e0275 33%,
      #2f1f6f 59%);
  /* background-blend-mode: color-dodge; */
  /* width: 100vw; */
  overflow: hidden;
  /* height: 100vh; */
  /* height: 100%; */
}

.radial-gradient2 {
  background-image: radial-gradient(at -189px 1126px,
      #6804a1 0%,
      #63049b 4%,
      #3e0275 33%,
      #2f1f6f 59%);
  /* mix-blend-mode: color-dodge; */
  /* width: 100vw; */
  overflow: hidden;
  /* height: 100%; */
  position: relative;
  /* height: 100vh; */
}

.radial-gradient3 {
  background-image: radial-gradient(at -189px 1126px,
      #6804a1 0%,
      #63049b 4%,
      #3e0275 33%,
      #2f1f6f 59%);
  /* mix-blend-mode: color-dodge; */
  /* width: 100vw; */
  overflow: hidden;
  /* height: 100%; */
  /* height: 100vh; */
}

.radial-gradient4 {
  background-image: radial-gradient(at -82px 3931px,
      #6804a1 0%,
      #63049b 4%,
      #3e0275 33%,
      #2f1f6f 59%);
  /* mix-blend-mode: color-dodge; */
  /* width: 100vw; */
  overflow: hidden;
  /* height: 100%; */
  /* height: 100vh; */
}

/* .apart {
  position: absolute;
  top: 50px;
  left: 50px;
  color: white;
} */

.header-hero-main-text {
  color: white;
}

.section1-container-radial-gradient {
  background-image: radial-gradient(circle at -700px 0px,
      #6804a1 0%,
      #63049b 4%,
      #3e0275 33%,
      #2f1f6f 59%);
  height: 100vh;
  width: 100vw;
}

.section1-gamer-img {
  background-image: url('assets/images/vr-gamer-desktop-cropped3.png');
  background-size: cover;
  mix-blend-mode: color-dodge;
  height: 100%;
}

.section1-gamer-fill-color {
  display: none;
}

.section1-container {
  /* background-image: url('assets/images/vr-gamer-desktop-cropped3.png'),
    radial-gradient(circle at -700px 0px,
      #6804a1 0%,
      #63049b 4%,
      #3e0275 33%,
      #2f1f6f 59%);
  background-blend-mode: color-dodge;
  background-size: cover;
  padding-top: 5.357em;
  padding-bottom: 15.69em; */

  padding-top: 5.357em;
  padding-bottom: 15.69em;
  position: absolute;
  top: 0;
  left: 0;
}



.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 13.125em;
}

.logo {
  display: flex;
  gap: 0.44em;
  align-items: center;
}

.logo-icon {
  width: 2.875em;
}

.logo-text {
  color: white;
  font-size: 1.92rem;
  letter-spacing: 2px;
  font-family: 'Ondo', Arial, sans-serif;
  font-weight: bold;
}

nav ul {
  display: flex;
  gap: 2.5em;
}

nav li {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  list-style-type: none;
  font-size: 1.125rem;
  font-family: 'Lato', Arial, sans-serif;
}

.navicon {
  display: none;
}

.cart-icon {
  width: 1.215em;
}

header {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 13.125em;
  padding-top: 7.45em;
}

.header-hero-main-text {
  text-transform: uppercase;
  color: #fff;
  font-size: 4.31rem;
  font-family: 'Ondo', Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  isolation: isolate;

}

.gradient-text {
  background: linear-gradient(to right, #6542f4 32%, #f976ff 52%, #b50098 86%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.header-hero-secondary-text {
  line-height: 2;
  font-family: Lato;
  color: #fff;
  letter-spacing: 1px;
  margin-top: 0.9em;
  margin-bottom: 0;
  font-size: 1.17rem;
}

.btn {
  color: #fff;
  text-decoration: none;
  border: 0;
  outline: 0;
  padding: 1.6em 2.8em;
  display: inline-block;
  transform: skew(-15deg);
  cursor: pointer;
  width: 14.5em;
}

.btn>span {
  display: inline-block;
  transform: skew(15deg);
  text-transform: uppercase;
  font-size: 1.25rem;
  font-family: 'Ondo', Arial, sans-serif;
  font-weight: bold;
}

.header-btns,
.section2-btns {
  display: flex;
  gap: 1.5em;
  margin-top: 2em;
  z-index: 10;
  position: relative;
}

.stats-container {
  gap: 1.9375em;
  display: flex;
  margin-top: 4.125em;
  color: #fff;
  z-index: 10;
  position: relative;
}

.stats {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.stats-main {
  font-family: 'Ondo', Arial, sans-serif;
  font-weight: bold;
  font-size: 1.875rem;
  letter-spacing: 2px;
}

.stats-secondary {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 1.17rem;
  letter-spacing: 1px;
}

.buy-now-btn,
.view-all-btn {
  background-image: linear-gradient(to top right,
      #6542f4 32%,
      #f976ff 52%,
      #b50098 86%);
  border: none;
}

.play-now-btn {
  border: solid 1px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)),
    linear-gradient(to top right, #6542f4 32%, #f976ff 52%, #b50098 86%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 1px 1000px 1px #341571 inset;
}

.ribbon {
  text-transform: uppercase;
  color: #fff;
  height: 5.625em;
  width: 108%;
  font-family: 'Ondo', Arial, sans-serif;
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
  gap: 3.112em;
  backdrop-filter: blur(25px);
  transform: skew(2deg, -2deg);
  box-shadow: 0px 0px 1px 0px #fff;
  z-index: 20;
  position: relative;
  left: -4%;
  top: -3em;
}

.ribbon-option {
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  gap: 9px;
  width: 21.69em;
  font-size: 1.875rem;
}

/*********************************************/
/* Section 2 */
/*********************************************/

.section2-container {
  background-image: radial-gradient(circle at -300px 900px,
      #6804a1 0%,
      #63049b 4%,
      #3e0275 33%,
      #2f1f6f 59%);
  height: 1000px;
  position: relative;
  top: -6em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2 {
  position: relative;
  top: 6em;
  padding-top: 6em;
}

.section2-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2-header {
  font-size: 4.125rem;
  color: #fff;
  font-family: 'Ondo', Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}

.section2-text {
  display: flex;
  margin-top: 1em;
  font-size: 1rem;
  font-family: 'Lato', Arial, sans-serif;
  color: #fff;
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
  line-height: 2;
}

.section2-btns {
  justify-content: center;
  margin-top: 4.49em;
}

.section2-play-now-btn {
  box-shadow: 1px 1000px 1px #2F1F6F inset;
}

.header-btns-mobile,
.stats-container-display {
  display: none;
}

@media (max-width: 480px) {
  /* .hero {
    background-image: url('assets/images/vr-gamer-mobile-cropped.png'),
      radial-gradient(circle 800px at -51px -76px,
        #6804a1 0%,
        #63049b 4%,
        #3e0275 33%,
        #2f1f6f 59%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  } */

  .section1-container-radial-gradient {
    position: absolute;
    top: 0;
    left: 0;
  }

  .section1-gamer-img {
    display: none;
  }

  .section1-container {
    /* background-image: url('assets/images/vr-gamer-mobile-cropped.png'),
      radial-gradient(circle at -51px -76px,
        #6804a1 0%,
        #63049b 4%,
        #3e0275 33%,
        #2f1f6f 59%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 92vh; */

    padding-top: 2.56em;
    padding-bottom: 0;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
  }

  .section1-gamer-fill-color {
    display: block;
    background-color: #2F1F6F;
    height: 445px;
    margin: 0 -1.9em;
    width: 100vw;
  }

  .section1-gamer-img-mobile {
    /* display: flex; */
    background-image: url('assets/images/vr-gamer-mobile-cropped3.png');
    /* background-size: cover; */
    mix-blend-mode: color-dodge;
    background-repeat: no-repeat;
    /* margin: 0 -1.9em; */
    /* margin-top: -10px; */
    height: 445px;
  }

  /* .gamer-img-mobile {
    display: flex;
    width: 100%;
  } */

  .navbar {
    padding: 0 1.9em;
  }

  .logo-icon {
    width: 2.43em;
  }

  .logo {
    gap: 0.4em;
  }

  .logo-text {
    font-size: 1.63rem;
    letter-spacing: 2px;
  }

  nav ul {
    display: none;
  }

  .navicon {
    display: block;
    margin-left: auto;
  }

  .navicon span {
    display: block;
  }

  .navicon span:not(:last-child) {
    margin-bottom: 4px;
  }

  .navicon span:nth-child(1) {
    width: 22px;
    height: 2px;

    background-color: white;
  }

  .navicon span:nth-child(2) {
    width: 17px;
    height: 2px;

    position: relative;
    right: -5px;
    background-color: white;
  }

  .navicon span:nth-child(3) {
    width: 22px;
    height: 2px;

    background-color: white;
  }

  .cart-icon {
    display: none;
  }

  header {
    width: 100%;
    padding: 0 1.9em;
    padding-top: 2.90em;
  }

  .header-hero-main-text {
    text-transform: uppercase;
    color: #fff;
    font-size: 2.52rem;
    font-family: 'Ondo', Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
  }

  .header-hero-secondary-text {
    line-height: 1.8;
    letter-spacing: 1px;
    margin-top: 1.06em;
    font-size: 1rem;
  }

  .ribbon {
    height: 3.11em;
    width: 60em;
    gap: 0.6em;
    backdrop-filter: blur(25px);
    left: -50%;
    top: -2em;
    overflow: hidden;
  }

  .ribbon-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    letter-spacing: 1px;
    gap: 0.58em;
    width: 13.13em;
    font-size: 1rem;
  }

  .ribbon-star {
    width: 1.24em;
  }

  .header-btns {
    display: none;
  }

  .btn {
    color: #fff;
    text-decoration: none;
    border: 0;
    outline: 0;
    padding: 1em 1.5em;
    display: inline-block;
    transform: skew(-15deg);
    cursor: pointer;
    width: 8.63em;
  }

  .btn>span {
    display: inline-block;
    transform: skew(15deg);
    text-transform: uppercase;
    font-size: 0.74rem;
    font-family: 'Ondo', Arial, sans-serif;
    font-weight: bold;
  }

  .header-btns-mobile {
    display: flex;
    gap: 0.7em;
    /* margin-top: 2em; */
    z-index: 1000;
    position: relative;
    justify-content: center;
    /* margin-top: -2em; */
    position: relative;
    margin-bottom: 2em;
  }

  .stats-container {
    display: none;
  }

  .stats-container-display {
    display: flex;
    justify-content: center;
    /* padding: 0 1.9em; */
  }

  .stats-container-mobile {
    display: flex;
    gap: 1.2em;
    /* margin-top: 4.125em; */
    color: #fff;
    z-index: 10;
    position: relative;
    text-align: center;
  }

  .stats {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.6em;
  }

  .stats-main {
    font-family: 'Ondo', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.33rem;
    letter-spacing: 0px;
  }

  .stats-secondary {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 0.75rem;
    letter-spacing: 1px;
  }

  .section2-container {
    margin-top: -5em;
  }

  .section2 {
    margin-top: 3.38rem;
    padding-left: 1.9em;
    padding-right: 1.9em;
  }

  .section2-header {
    font-size: 2rem;
    letter-spacing: 1.5px;
  }

  .section2-text {
    display: flex;
    margin-top: 0.75em;
    font-size: 0.86rem;
    line-height: 1.9;
  }
}